/*============================= 
    Install Fonts
=============================*/
@font-face {
  font-family: "Avenir Next Font";
  src: url("../fonts/AvenirNextLTPro-Regular.otf");
}

/*============================= 
    Global Style
=============================*/
:root {
  --primary: #009cff;
  --light: #f3f6f9;
  --dark: #191c24;
}
body {
  background: #1e1e1e;
  padding: 15px;
  font-family: "Poppins", sans-serif;
}

/*============================= 
    Layout Style
=============================*/
.sidebar {
  position: fixed;
  top: 15px;
  left: 15px;
  bottom: 0;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  transition: 0.5s;
  z-index: 999;
  padding-left: 50px;
}

.content {
  margin-left: 300px;
  min-height: 100vh;
  background: #ffffff;
  transition: 0.5s;
  border-radius: 20px;
}

/*============================= 
    Sidebar Style
=============================*/
.profile {
  margin-top: 50px;
}
.profile .position-relative {
  width: max-content;
}
.profile .badge {
  color: #fff;
  font-size: 13px;
}
.profile h6 {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  margin-top: 20px;
}
.profile span {
  color: #979797;
  font-weight: 400;
  font-size: 17px;
}
.sidebar .navbar .navbar-nav {
  margin-top: 50px;
}
.sidebar .navbar .navbar-nav .nav-link {
  padding: 7px 20px;
  color: #979797;
  font-weight: 500;
  outline: none;
  font-size: 25px;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
  color: #fff;
}

/*============================= 
    Content Style
=============================*/
.left-content {
  padding: 50px;
}
.left-content h2 {
  font-size: 40px;
  font-weight: 600;
}
.left-content p {
  font-size: 16px;
}
.left-content .img-fluid {
  max-width: 100%;
  height: auto;
  border: 3px solid #fff;
  margin-left: -15px;
  width: 40px;
}
canvas#bar-chart {
  height: 120px !important;
}
.btn-lg-square {
  width: 48px;
  height: 48px;
  padding: 0 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
  color: #fff;
  cursor: auto !important;
  border: 0;
}
.btn-lg-square:hover {
  color: #fff;
  background: #009cff;
}

.item-title h5 {
  font-family: "Avenir Next Font";
  font-size: 18px;
}
.item h6 {
  font-weight: 500;
  font-size: 16px;
  color: #273240;
}
.item span {
  font-size: 14px;
  font-weight: 400;
}
.item .fw-bold {
  color: #273240;
}
.left-content .item:nth-child(2) {
  margin: 50px 0;
}

.right-content {
  padding-right: 0;
}
.right-content .bg-light {
  border-radius: 0 20px 20px 0 !important;
  background: #f9fafc;
  padding: 50px 30px !important;
  height: 100%;
}

.right-content h3 {
  font-family: "Avenir Next Font";
  font-size: 20px;
}
.progress {
  height: 5px;
}
.progress-bar {
  background-color: #31ba96;
}
.item-top {
  margin-bottom: 100px !important;
}
.item-top p {
  margin-bottom: 0;
}
.right-content .item-bottom {
  padding: 30px;
}
.right-content .item-bottom {
  background: #edf0f6;
}
.right-content .item-bottom h4 {
  font-weight: 500;
  font-size: 16px;
}
.right-content .item-bottom p {
  font-weight: 400;
  font-size: 12px;
}
.right-content .item-bottom .btn-primary {
  background: #101010;
  border-color: #101010;
  color: #ffffff;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
}
.right-content .img-box {
  margin-top: -58px;
}
